*.gem
*.swp
*.pyc
*#*
build
dist
setuptools-*
.svn/*
.DS_Store
*.so
restkit.egg-info
nohup.out
*.orig
*.rej
*~
*.o
*.pyc
*.pyo
tests/*.err
*.swp
store/*
*.DS_Store
*.beam
*.log
restkit.egg-info
dist/
doc/_build/
distribute-*
.coverage
.tox
__python_cache__
