Source: restkit
Section: python
Priority: optional
Maintainer: Benoit Chesneau <benoitc@e-engura.com>
Build-Depends: debhelper (>= 7), python-support, python-setuptools
Standards-Version: 3.9.0.0
Homepage: http://benoitc.github.com/restkit

Package: python-restkit
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
python-http-parser(>=0.6.0)
Provides: ${python:Provides}
Description: Python REST kit
 An HTTP resource kit for Python
