body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

p {
    font-size: 1em;
}

a {
   color: #e21a1a;
}

a:hover {
    color: #000;
}

h1 {
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    color: #000;
}

h2 {
    font-size: 1.1em;
    margin: 2em 0 0 0;
    color: #000;
    padding: 0;
}

div.container {
    display: block;
    width: 41em;
    margin: 0 auto;
}

h1.logo {
    border: none;
    margin: 0;
    float: left;
    top: 25px;
}

h1.logo a {
    text-decoration: none;
    display: block;
    padding: 0.3em;
    text-decoration: none;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header {
    display: block;
}

#header:after,#header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

#links {
    color: #4E4E4E;
    top: 25px;
}

#links a {
    font-weight: 700;
    text-decoration: none;
}

#header #links {
    text-align: right;
    font-size: .8em;
    margin-top: 0.5em;
    position: relative;
    top: 0;
    right: 0;
}

#menu {
    position: relative;
    clear: both;
    display: block;
    width: 100%;
}

ul#actions{
    list-style: none;
    display: block;
    float: left;
    width: 60%;
    text-indent: 0;
    margin-left: 0;
    padding: 0;
}

ul#actions li {
    display: block;
    float: left;
    background: #e21a1a;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 .3em 0 0;
    padding: .2em;
}

ul#actions li a {
    color: #fff;
    text-decoration: None;
}


div.highlight {
    background: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: .2em;
    
    
}


div.highlight pre {
    overflow-x: hidden;
}
#footer {
    border-top: 1px solid #ccc;
    clear: both;
    display: block;
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    text-align: center;
    font-size: 0.8em;
}

#footer a {
    color: #444;
}

/* cse */

#cse {
    width: 200px;
    font-size: 1em;
    padding: 0;
     background: #f9f9f9;
     float: right;
}
  .gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #f9f9f9;
    background: #f9f9f9;
  }
  input.gsc-input {
    border-color: #777777;
  }
  input.gsc-search-button {
    border-color: #333333;
    background-color: #333333;
  }
  .gsc-tabHeader.gsc-tabhInactive {
    border-color: #777777;
    background-color: #777777;
  }
  .gsc-tabHeader.gsc-tabhActive {
    border-color: #333333;
    background-color: #333333;
  }
  .gsc-tabsArea {
    border-color: #333333;
  }
  .gsc-webResult.gsc-result {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gsc-webResult.gsc-result:hover {
    border-color: #000000;
    background-color: #FFFFFF;
  }
  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b {
    color: #444444;
  }
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b {
    color: #444444;
  }
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b {
    color: #444444;
  }
  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b {
    color: #777777;
  }
  .gsc-cursor-page {
    color: #444444;
  }
  a.gsc-trailing-more-results:link {
    color: #444444;
  }
  .gs-webResult.gs-result .gs-snippet {
    color: #333333;
  }
  .gs-webResult.gs-result .gs-visibleUrl {
    color: #000000;
  }
  .gs-webResult.gs-result .gs-visibleUrl-short {
    color: #000000;
  }
  .gsc-cursor-box {
    border-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-page {
    border-color: #777777;
    background-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    border-color: #333333;
    background-color: #333333;
  }
  .gs-promotion.gs-result {
    border-color: #CCCCCC;
    background-color: #E6E6E6;
  }
  .gs-promotion.gs-result a.gs-title:link {
    color: #e21a1a;
  }
  .gs-promotion.gs-result a.gs-title:visited {
    color: #e21a1a;
  }
  .gs-promotion.gs-result a.gs-title:hover {
    color: #444444;
  }
  .gs-promotion.gs-result a.gs-title:active {
    color: #00CC00;
  }
  .gs-promotion.gs-result .gs-snippet {
    color: #333333;
  }
  .gs-promotion.gs-result .gs-visibleUrl,
  .gs-promotion.gs-result .gs-visibleUrl-short {
    color: #00CC00;
  }